<style type="text/css">
    head{
        color: #FAD1FF;
        font-family: "fangsong";
        font-weight: 380;
    }

    footer{
        font-family: "fangsong";
        font-weight: 380;
    }
    body{
        background-color: #ADD8E6;
        font-family: "fangsong";
        font-weight: 380;
    }

    :root {
        --main-background-color: #FAD1FF;
        --dark-background-color: #a2a2a2;
        --seccondary-text-color: #808080;
        --light-primary-text-color: #0080ff;
    }
</style>